@font-face {
  font-family: RobotoCondensed;
  src: url(assets/roboto-condensed.light.ttf);
  font-weight: 800;
}

@font-face {
  font-family: EconomicaBold;
  src: url(assets/economica-bold.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.5em;
}

a, a:hover, a:focus {
  font-family: 'Fira Sans', sans-serif;
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}


h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}


.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  background-image: linear-gradient( 112.9deg,  rgba(112,255,151,1) 6.2%, rgba(70,195,255,1) 99.7% );
}

.auth-signup {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 20px 55px 25px;
  border-radius: 15px;
  /* border-top-left-radius: 15px;
  border-bottom-left-radius: 15px; */
  transition: all .3s;
}

.auth-signin {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 20px 55px 25px;
  border-radius: 15px;
  /* border-top-right-radius: 15px;
  border-bottom-right-radius: 15px; */
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.form-control {
  padding: 12px 20px;
  font-size: 14px;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

::placeholder {
  font-size: 14px;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.top-nav {
  position: sticky;
    top: 0;
    z-index: 5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #231970;
  color: #ffffff;
}

.top-nav h3:hover {
  /* color: #46c3ff; */
  color: #70ff97;

}


.main {
  margin-left: 20%;
}

.w3-sidebar {
  width: 20%;
}